.mycd {
  animation: infinite-spinning 10s infinite linear;
}

.animation-paused {
  animation-fill-mode: forwards;
}

@keyframes infinite-spinning {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
